
// consider whether there is a more updated way to do this, like does it need to be done with grid? 

@use '../util' as u;
@use '../globals' as g;

/*
.container {
    max-width: 60rem;
}

.container-sm {
    max-width: 45rem;
}
*/

.container {
    //max-width: 60rem;
    width: min(100% - u.rem(40), u.rem(1000));
    margin-inline: auto;

    &-sm {
        max-width: 45rem;
        margin-inline: auto;
    }

    &-paragraphs {
    margin-inline: auto;
    padding-top:g.$s-lg;
    padding-bottom:g.$s-lg;
    }

}

