
// @use '.' as u; this causes an erorr because we are in util folder already

@use 'functions' as f; // functions within functions.scss



// 700px, 900px, 1440px converted to ems, what Jess recommends
/*
$breakpoints-up: ( /* sass map, em manually converted from px */ /*
    'medium': 43.75em,
    'large': 56.25em,
    'xlarge': 90em,
);*/

$breakpoints-up: ( /* sass map + load our px to em conversion function */
    'medium': f.em(700),
    'large': f.em(900),
    'xlarge': f.em(1440),
);

@mixin breakpoint($size) { /* this is a map-get function */
    @media (min-width: map-get($breakpoints-up, $size)) {
        @content;
    }
}

// 699.98px, 899.98px, 1439.98px converted to em- so there's no overlap with breakpoints-up; bootstrap uses a .02 difference says Jess */

/*
$breakpoints-down: (
    'small': 43.7485em,
    'medium': 56.24875em,
    'large': 89.99875em,
); */

$breakpoints-down: ( /* load our px to em conversion function */
    'small': f.em(699.98),
    'medium': f.em(899.98),
    'large': f.em(1439.98),
);

@mixin breakpoint-down($size) {
    @media (max-width: map-get($breakpoints-down, $size)) {
        @content;
    }
}