
@use '../util' as u; 
@use 'colors' as c;
@use 'schemes' as s;


html {
    box-sizing: border-box; 
    font-size: 100%;
}

*, 
*::before, 
*::after {
    box-sizing: inherit; /* inherit from html */
}


body {
    margin: 0; /* reset browser defaults */
    padding: 0; /* reset browser defaults */
    background-image: linear-gradient(to top, c.$primary-light-color, white);
        border-color: c.$accent-color-1;
        background-color: white;
        color: c.$primary-dark-color;
        a {
            color: c.$primary-dark-color;
                &:hover {
                    color: c.$accent-color-1;
                }
        }
        @media (prefers-color-scheme:dark) {
            background-image: linear-gradient(to top, c.$primary-dark-color, black);
            background-color: black;
            color: c.$primary-light-color;
            a {
                color: c.$primary-light-color;
                &:hover {
                    color: c.$accent-color-1;
                }
            }
        }
}

footer {
    background-color: black;
}
